///// construction /////

@import 'variables';

@import 'nav';

@import 'sliders';

html, body {
    background-color: #262728;
    font-family: $mainfont, sans-serif;
    color: white; 
    min-height: 100vh;
}

body {
    background: url(../assets/img/bg_black.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 30px;
}

#main_content {
    //background-color: skyblue;
}


//ai sol page

.borders {
    //border: 6px solid rgba(0,0,0,0.1); 
    border-radius: 6px;
    //margin: 5px;
    width: 48%;
    margin: 1%;
    padding: 25px;
    background-color: rgba(0,0,0,0.1);
}

.borders h4 {
    font-size: 1rem;
    margin-bottom: 15px;
}

.same_imgs {
    width: 100%;
    height: auto;
}

#secondblock {
    margin-top: 180px;
    margin-bottom: 140px;
}

.compares {
    
    h6{    
    border-bottom: 10px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
    padding: 15px 10px 5px 10px;
    border-radius: 2px; 
    color: rgba(255,255,255,0.9);
    //margin-bottom: 0;
    //background-color: $blue;
    }
    .ours {
        border-bottom: 10px solid $blue;
    }
    
    .vids {
        border-radius: 0px;
    }
}

