///// construction /////

@import 'variables';

@import 'nav';

@import 'sliders';

html, body {
    background-color: #262728;
    font-family: $mainfont, sans-serif;
    color: white; 
    min-height: 100vh;
}

body {
    background: url(../assets/img/bg_black.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 30px;
}

#main_content {
    //background-color: skyblue;
}


//ai sol page

.borders {
    border: 6px solid rgba(0,0,0,0.1); 
    border-radius: 6px;
    //margin: 5px;
    width: 48%;
    margin: 1%;
    padding: 10px;
}

.same_imgs {
    width: 100%;
    height: auto;
}