////////// variables //////////

// colors
$blue: #305597 ;
$blue_light: #2A85F3 ;
$red: #C00E30 ;
$red_light: #FF1F4A ;
$black: #222527 ;
$black_light: #272A2D ;
$black_dark: #1F2124 ;
$blackblack: #171819 ;


// fonts
