////////// title page //////////

//import variables
@import 'variables';



.h1_title {
    font-weight: 900;
    font-size: 3.5rem;
    color: rgba(255,255,255,0.8);
}

.text_undertitle {
    font-size: 1.4rem;
    color: rgba(255,255,255,0.6);
}